@import "tailwindcss";

html { 
  scroll-behavior: smooth; 
}

body { 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  background-color: #F8FAFC; /* movyra.light */
  color: #000000; /* movyra.dark */
}